<p *ngIf = "!(weatherData$ | async)&&!hasError">Loading Data..</p>
<mat-card class="example-card">
    <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title *ngIf = "!hasError">Temerature in {{city}} is {{(weatherData$ | async).temperature | number:'1.0-0'}}°C</mat-card-title>
    <mat-card-title *ngIf = "hasError">{{errorMessage}}</mat-card-title>
    <mat-card-subtitle *ngIf = "!hasError"><img [src] = "image"></mat-card-subtitle>
    <mat-card-subtitle *ngIf = "!hasError">{{country}}</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
      <a [routerLink]="['/city']" >select city</a>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
